@import './variable.scss';

html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  background: $white;
  color: $black;
  font-size: 18px;
  font-family: $normal;
}

section {
  width: 85vw;
}

h1 {
  font-size: 6vw;
  color: $vermilion;
  font-family: $heading;
  margin: 0;
  line-height: 8vw;
}
h2 {
  font-size: 3vw;
  color: $vermilion;
  font-family: $heading;
  margin: 0;
  padding: 0 0 3vw 0;
}
h3 {
  font-size: 28px;
  font-family: $heading;
  margin: 0 0 10px 0;
}
h4 {
  font-size: 24px;
  margin: 10px 0;
}

p {
  margin: 0;
  line-height: 35px;
}

a {
  color: inherit;
  transition: 0.2s;
  &:hover {
    opacity: 0.6;
    transition: 0.2s;
  }
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

// Because svelte detect these selector as fucking "unused", I wrote them here, the global file.

// Top.svelte
.biography {
  width: calc(95% - 120px);
  margin-top: -30px;
  & > p {
    font-size: 20px;
  }
}
.communication {
  .links {
    margin-top: 30px;
    img {
      margin: 0 15px;
    }
  }
}
.research {
  & > p {
    line-height: 25px;
    margin-bottom: 15px;
  }
  & > a {
    color: $vermilion;
  }
}
.top-square {
  margin-bottom: $default-square-margin;
}

// Work.svelte
.algo {
  background: $beige;
}
.web {
  background: $orange;
}
.npm {
  background: $purple;
}
.others {
  background: $blue;
}

// bookInterview.svelte
.interview {
  margin-top: 35px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 10vw;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 8vw;
  }
  h3 {
    font-size: 28px;
    margin: 20px 0 15px 0;
  }
  p {
    font-size: 15px;
  }
}
