@import './variable.scss';

html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  background: $background;
  color: $primary;
  font-size: 16px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.section {
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post {
  img {
    width: 80%;
    margin: 0 auto;
  }
}

h1 {
  font-size: 35px;
  margin: 0;
  padding: 30px 0 20px 0;
}
h2 {
  font-size: 30px;
  margin: 0;
  padding: 30px 0 20px 0;
}
h3 {
  font-size: 24px;
  margin: 0;
  padding: 30px 0 10px 0;
}
h4 {
  color: $secondary;
  font-size: 20px;
  margin: 0;
  padding: 30px 0 10px 0;
}
h5 {
  color: $tertiary;
  font-size: 18px;
  margin: 0;
  padding: 30px 0 10px 0;
}
p {
  margin: 0;
  color: $p-letter;
  line-height: 25px;
  letter-spacing: 0.25px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: calc(100% - 10px);
  padding-left: 10px;
}
a {
  color: inherit;
  transition: 0.2s;
  &:hover {
    opacity: 0.6;
    transition: 0.2s;
  }
}
input,
button {
  font-size: inherit;
  font-family: inherit;
}
select {
  background: transparent;
  color: $gray;
  border: none;
  margin-right: 20px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 16px;
}
img {
  max-width: 100%;
}
table {
  margin-left: 10px;
  border: 1px $dark-gray solid;
  border-collapse: collapse;
  thead {
    background: $dark-gray;
  }
  th, td {
    border: 1px $dark-gray solid;
    padding: 5px;
  }
}

code {
  background: $code;
  padding: 0 5px;
  margin: 0 3px;
  border-radius: 5px;
  font-size: 14px;
}

pre {
  width: calc(100% - 60px);
  overflow-x: auto;
  margin: 15px 0;
  padding: 20px 30px;
  border-radius: 5px;
  background: $code;
  & > code {
    background: transparent;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
}

strong {
  color: $orange;
}

blockquote {
  width: calc(100% - 10px);
  margin-left: 10px;
  border-left: 4px $dark-gray solid;
}

.algorithm {
  color: $pink;
}
.decentralized {
  color: $green;
}
.cryptography {
  color: $orange;
}
.non-tech {
  color: $yellow;
}
.programming {
  color: $blue;
}
.cs {
  color: $red;
}

.message {
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(45deg, #71b419, #25a521);
  color: $black;
  font-weight: 600;
}

.pages {
  & > h2:first-child {
    padding-top: 0;
  }
  & > h4 {
    padding-top: 0;
  }
  img {
    width: 60%;
    min-width: 350px;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 33px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 23px;
  }
  h4 {
    font-size: 19px;
  }
  h5 {
    font-size: 17px;
  }

  .post {
    img {
      width: 100%;
    }
  }
}
