@font-face {
  font-family: 'Noto Sans JP';
  src: local('Noto Sans JP'), url('/fonts/Noto-Sans-JP/regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans JP';
  src: local('Noto Sans JP'), url('/fonts/Noto-Sans-JP/medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans JP';
  src: local('Noto Sans JP'), url('/fonts/Noto-Sans-JP/bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('/fonts/Inter/regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('/fonts/Inter/medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('/fonts/Inter/semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('/fonts/Inter/bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}
