$black: #000;
$white: #fff;
$light-gray: #ececec;
$gray: #bababa;
$dark-gray: #636363;
$code: #333;

$orange: #e4a94f;
$pink: #e44fa6;
$green: #4fe488;
$yellow: #cee44f;
$blue: #4f72e4;
$red: #e44f5b;

$twitter: #00acee;
$pocket: #ef3f56;
$insta-paper: #f3f3f3;

$ipfs-blue: #d1eaec;
$ipfs-dark-blue: #378085;

$background: $black;
$primary: $white;
$secondary: $light-gray;
$tertiary: $gray;
$p-letter: $light-gray;

// @media (prefers-color-scheme: light) {
//   $background: $white;
//   $primary: $black;
//   $secondary: $code;
//   $tertiary: $dark-gray;
//   $p-letter: $code;
// }

// @media (prefers-color-scheme: dark) {
//   $background: $black;
//   $primary: $white;
//   $secondary: $light-gray;
//   $tertiary: $gray;
//   $p-letter: $light-gray;
// }
