$black: #696969;
$white: #f6f6f6;
$vermilion: #db5f5f;
$gray: #c0c0c0;
$light-gray: #eeeeee;
$orange: #f1e6bd;
$beige: #efd9d2;
$green: #a7ddab;
$blue: #a0e2d6;
$purple: #d3d3f4;

$normal: 'Roboto', 'Noto Sans JP', Arial, Helvetica, sans-serif;
$heading: 'Poppins', Arial, Helvetica, sans-serif;

$default-square-margin: 8vh;
