//Color
$black: #333;
$light-black: #555;
$shadow-white1: #d3d7dd;
$shadow-white2: #edf3f9;
$white: #e0e5eb;
$h-color: #cecece;

//centering
%center{
  text-align:center;
  margin:0 auto;
}

%completely-center{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 35%;
  left: 50%;
}
