//Color variables
$black: #444;
$dark-black: #333;
$light-black: #555;
$white: #f5f5f5;
$light-white: #cdcdcd;
$gray: #a4a4a4;
$border-gray: #4f4f4f;
$border-works-gray: #686868;
$green: #66d17f;
$light-green: #60be76;

$generic-fonts: 'Poppins', 'Noto Sans JP', sans-serif;
$generic-fonts-jp: 'Noto Sans JP', sans-serif;

// Centering (horizontal)
%center {
  text-align:center;
  margin:0 auto;
}

%center-flex {
  display: flex;
  justify-content: center;
}

// Centering (horizontal&vertical)
%completely-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
