@import './definition.scss';

/* 全ページ共通スタイル */
html{
  width: 100vw;
  min-height: 100vh;
  padding:0;
  margin:0;
  scroll-behavior: smooth;
  background: $white;
  background-image: url('../img/bg-geometric.webp');
  background-size: cover;
  background-attachment: scroll;
  background-repeat: repeat;
  color: $black;
}
body{
  width: 100vw;
  overflow-x: hidden;
  padding:0;
  margin:0;
  font-family: 'Poppins', 'Noto Sans JP', sans-serif;
}

a {
  color: $red;
}

h3 {
  text-align: center;
  color: $black;
  user-select: none;
}

h1,h2 {
  text-align: center;
  user-select: none;
}

.section {
  color: $black;
  width: 100vw;
  #section_content {
    margin: 0 auto;
  }
}

.titles {
  @extend %center;

  width: 300px;
  padding-bottom: 20px;
  h2 {
    margin: 0;
    font-size: 36px;
    border-bottom: 2px $red solid;
  }
}

.data {
  line-height: 40px;
  font-weight: bold;
  &-center {
    @extend %center-flex;

    width: 75vw;
    max-width: 700px;
    flex-direction: column;
    padding-top: 5vh;
    margin: 0 auto;
    line-height: 60px;
    font-size: 24px;
  }
  &-red {
    color: $red;
  }
}

@media screen and (max-width: 1000px) {
  html {
    overflow-x: hidden;
    .titles {
      margin-top: 30px;
      h2 {
        font-size: 30px;
      }
    }
    .data {
      &, &-center {
        line-height: 20px;
        font-size: 13px;
      }
      &-red {
        display: block;
      }
    }
  }
}
