@import './definition.scss';

/* 全ページ共通スタイル */
html{
  width: 100vw;
  height: 100vh;
  padding:0;
  margin:0;
  scroll-behavior: smooth;
  background: $black;
  color: $complete-white;
}
body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  padding:0;
  margin:0;
  font-family:'Poppins','Noto Sans JP',sans-serif;
}

h3 {
  text-align: center;
  color: $sentence-white;
  user-select: none;
}

h1,h2 {
  @extend %gradient-text;

  text-align: center;
  user-select: none;
}

.section {
  color: $sentence-white;
  width: 100vw;
  #section_content {
    margin: 0 auto;
  }
}

.ityped-cursor {
  text-shadow: -1px -1px 2px rgba(255, 255, 255, 0.4), 1px 1px 3px rgba(0, 0, 0, 0.08);
  -webkit-text-stroke: 0.3px $christmas-red;
  opacity: 1;
  animation: blink 0.5s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}


@media screen and (max-width: 750px) {
  html {
    overflow-x: hidden;
  }
}
