@import './definition.scss';

/* 全ページ共通スタイル */
html{
  width: 100vw;
  height: 100vh;
  padding:0;
  margin:0;
  scroll-behavior: smooth;
  background: $black;
  color: $white;
}
body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  padding:0;
  margin:0;
  font-family:'Poppins','Noto Sans JP',sans-serif;
}

a {
  color: $red;
}

h3 {
  text-align: center;
  color: $white;
  user-select: none;
}

h1,h2 {
  text-align: center;
  user-select: none;
}

.section {
  color: $white;
  width: 100vw;
  #section_content {
    margin: 0 auto;
  }
}

.titles {
  @extend %center;

  width: 300px;
  padding-bottom: 20px;
  h2 {
    margin: 0;
    font-size: 36px;
    border-bottom: 2px $red solid;
  }
}


@media screen and (max-width: 750px) {
  html {
    overflow-x: hidden;
  }
}
